ext-model/src/main/resources/META-INF/schemas/predix/entity/port/port.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ge.com/predix/entity/analytic/port"
	xmlns:port="http://ge.com/predix/entity/analytic/port"
	xmlns:fieldSelection="http://ge.com/predix/entity/fieldselection"
	xmlns:map="http://ge.com/predix/entity/util/map"
	xmlns:context="http://ge.com/predix/entity/context"
	xmlns:filter="http://ge.com/predix/entity/filter"
	xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1"
	xmlns:fieldIdentifier="http://ge.com/predix/entity/field/fieldidentifier"
	xmlns:engUnit="http://ge.com/predix/entity/engunit"
	xmlns:portIdentifier="http://ge.com/predix/entity/analytic/port/portidentifier" xmlns:fieldData="http://ge.com/predix/entity/fielddata">

	<import schemaLocation="../fieldselection/fieldselection.xsd"
		namespace="http://ge.com/predix/entity/fieldselection">
	</import>
	<import schemaLocation="../util/map/map.xsd"
		namespace="http://ge.com/predix/entity/util/map">
	</import>

	<import schemaLocation="../filter/filter.xsd"
		namespace="http://ge.com/predix/entity/filter">
	</import>

	<import schemaLocation="../field/identifier/fieldidentifier.xsd"
		namespace="http://ge.com/predix/entity/field/fieldidentifier">
	</import>

	<import schemaLocation="../engunit/engunit.xsd"
		namespace="http://ge.com/predix/entity/engunit">
	</import>
	<import schemaLocation="identifier/portidentifier.xsd"
		namespace="http://ge.com/predix/entity/analytic/port/portidentifier">
	</import>
	<import schemaLocation="../fielddata/fielddata.xsd" namespace="http://ge.com/predix/entity/fielddata"></import>
	<complexType name="Port">
		<annotation>
			<documentation>
				the criteria for requesting one field from the asset
				data handler
			</documentation>
		</annotation>
		<sequence>
			<element ref="portIdentifier:portIdentifier" minOccurs="0"
				maxOccurs="1">
			</element>
            <element ref="fieldSelection:fieldSelection" minOccurs="0" maxOccurs="1"></element>
            <element name="portType" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="filter:filter" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="fieldData:data" minOccurs="0" maxOccurs="1">
			</element>


		</sequence>
	</complexType>
	<element name="port" type="port:Port"></element>

	<complexType name="PortList">
		<sequence>
			<element ref="port:port" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="portList" type="port:PortList" />

</schema>

