ext-model/src/main/resources/META-INF/schemas/predix/entity/putfielddata/putfielddata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ge.com/predix/entity/putfielddata"
	xmlns:putFieldData="http://ge.com/predix/entity/putfielddata"
	xmlns:resultInfo="http://ge.com/predix/entity/resultinfo"
	xmlns:fieldData="http://ge.com/predix/entity/fielddata"
	xmlns:asset="http://ge.com/predix/entity/asset"
	xmlns:context="http://ge.com/predix/entity/context"
	xmlns:errorDataEvent="http://ge.com/predix/entity/osa/errordataevent"
	xmlns:map="http://ge.com/predix/entity/util/map"
	xmlns:filter="http://ge.com/predix/entity/filter"
	xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1" xmlns:namespace="http://ge.com/predix/entity/field/namespace">



	<import schemaLocation="../resultinfo/resultinfo.xsd"
		namespace="http://ge.com/predix/entity/resultinfo">
	</import>


	<import schemaLocation="../fielddata/fielddata.xsd"
		namespace="http://ge.com/predix/entity/fielddata">
	</import>

	<import schemaLocation="../util/map/map.xsd"
		namespace="http://ge.com/predix/entity/util/map">
	</import>


	<import schemaLocation="../osa/errordataevent/errordataevent.xsd"
		namespace="http://ge.com/predix/entity/osa/errordataevent">
	</import>



	<import schemaLocation="../filter/filter.xsd"
		namespace="http://ge.com/predix/entity/filter">
	</import>

	<import schemaLocation="../namespace/namespace.xsd" namespace="http://ge.com/predix/entity/field/namespace"></import>
	<element name="putFieldDataRequest">
		<complexType>
			<sequence>

				<element name="correlationId" type="string"
					minOccurs="0">
					<annotation>
						<documentation>
							execution context id.
						</documentation>
					</annotation>
				</element>




				<element name="putFieldDataCriteria"
					type="putFieldData:PutFieldDataCriteria" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element ref="map:externalAttributeMap" minOccurs="0"
					maxOccurs="1">
				</element>

			</sequence>
		</complexType>
	</element>

	<element name="putFieldDataResult">
		<complexType>
			<sequence>
				<element name="errorEvent" type="string" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element minOccurs="0" ref="map:externalAttributeMap" />
			</sequence>
		</complexType>
	</element>


	<complexType name="PutFieldDataCriteria">
		<sequence>
            <element name="namespaces" type="namespace:Namespace" maxOccurs="unbounded" minOccurs="0"></element>
            <element ref="fieldData:fieldData" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="filter:filter" minOccurs="0" maxOccurs="1">
			</element>

		</sequence>
	</complexType>
</schema>

