ext-model/src/main/resources/META-INF/schemas/predix/entity/fielddata/fielddata.xsd

<?xml version="1.1" encoding="UTF-8"?>
<schema targetNamespace="http://ge.com/predix/entity/fielddata"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:data="http://ge.com/predix/entity/data"
	xmlns:fieldData="http://ge.com/predix/entity/fielddata"
	xmlns:field="http://ge.com/predix/entity/field"
	xmlns:osa="http://www.mimosa.org/OSACBMV3.3.1"
	xmlns:engUnit="http://ge.com/predix/entity/engunit"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:annox="http://annox.dev.java.net"
	xmlns:ja="http://annox.dev.java.net/com.fasterxml.jackson.annotation"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:extensionBindingPrefixes="xjc annox" jaxb:version="2.0">

	<import schemaLocation="../field/field.xsd"
		namespace="http://ge.com/predix/entity/field">
	</import>
	<import schemaLocation="../field/identifier/fieldidentifier.xsd"
		namespace="http://ge.com/predix/entity/field/fieldidentifier">
	</import>
	<import schemaLocation="../engunit/engunit.xsd"
		namespace="http://ge.com/predix/entity/engunit">
	</import>
	<import schemaLocation="../../../osa/schema1.xsd"
		namespace="http://www.mimosa.org/OSACBMV3.3.1">
	</import>
	<import schemaLocation="../data/data.xsd" namespace="http://ge.com/predix/entity/data"></import>
	<complexType name="FieldData">
		<sequence>
			<element name="resultId" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="field:field" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
			<element name="data" type="data:Data" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="engUnit:engUnit" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The Engineering Units which the DataEvent is
						being delivered in
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="fieldData" type="fieldData:FieldData"></element>

	<complexType name="FieldDataList">
		<sequence>
			<element ref="fieldData:fieldData" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="fieldDataList" type="fieldData:FieldDataList" />



	<element name="data" type="string" />

	<complexType name="PredixBoolean">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="boolean" type="boolean"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixDate">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="date" type="date"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixDateTime">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="dateTime" type="dateTime"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixDecimal">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="decimal" type="decimal"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixDouble">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="double" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixFloat">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="float" type="float"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixHexBinary">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="hexBinary" type="hexBinary"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixInt">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="int" type="int"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="PredixString">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="string" type="string"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PredixTime">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element name="time" type="time"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OsaData">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element ref="osa:DataEvent"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Fields">
		<complexContent>
			<extension base="data:Data">
				<sequence>
					<element ref="field:field" minOccurs="0"
						maxOccurs="unbounded">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>