ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/engunit/engunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://dsp.ge.com/pm/ext/entity/engunit"
	xmlns:engUnit="http://dsp.ge.com/pm/ext/entity/engunit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">

	<complexType name="EngUnit">
		<sequence>
			<element name="code" type="string" />
			<element name="name" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<element name="engUnit" type="engUnit:EngUnit"></element>

</schema>