ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/trigger/trigger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://dsp.ge.com/pm/ext/entity/trigger"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:trigger="http://dsp.ge.com/pm/ext/entity/trigger"
	xmlns:triggerIdentifier="http://dsp.ge.com/pm/ext/entity/trigger/triggeridentifier"
	>

	<import schemaLocation="identifier/triggeridentifier.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/trigger/triggeridentifier">
	</import>
	<complexType name="Trigger" abstract="true">
		<sequence>
		</sequence>
	</complexType>
	<element name="trigger" type="trigger:Trigger"></element>

	<complexType name="TriggerList">
		<sequence>
			<element ref="trigger:trigger" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="triggerList" type="trigger:TriggerList" />


</schema>