ext-model/src/main/resources/META-INF/schemas/predix/entity/fieldchanged/fieldchanged.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://ge.com/predix/entity/fieldchanged"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:fieldChanged="http://ge.com/predix/entity/fieldchanged"
	xmlns:map="http://ge.com/predix/entity/util/map" xmlns:eventAsset="http://ge.com/predix/entity/eventAsset">
	
	<import schemaLocation="../eventasset/eventasset.xsd" namespace="http://ge.com/predix/entity/eventAsset">
	</import>

	<import schemaLocation="../util/map/map.xsd" namespace="http://ge.com/predix/entity/util/map"></import>

	<complexType name="FieldChanged">
		<sequence>
			<element ref="eventAsset:assetList" minOccurs="0" maxOccurs="1" />
			<element ref="map:externalAttributeMap" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="FieldChangedList">
		<sequence>
			<element ref="fieldChanged:fieldChanged" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="fieldChanged" type="fieldChanged:FieldChanged" />
	<element name="fieldChangedList" type="fieldChanged:FieldChangedList" />

</schema>