ext-model/src/main/resources/META-INF/schemas/predix/entity/runanalytic/runanalytic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ge.com/predix/entity/analytic/runanalytic"
	xmlns:fieldDataCriteria="http://ge.com/predix/entity/fielddatacriteria"
	xmlns:fieldData="http://ge.com/predix/entity/fielddata"
	xmlns:context="http://ge.com/predix/entity/context"
	xmlns:errorDataEvent="http://ge.com/predix/entity/osa/errordataevent"
	xmlns:map="http://ge.com/predix/entity/util/map"
	xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1" xmlns:port="http://ge.com/predix/entity/analytic/port">

	<import
		schemaLocation="../fielddata/fielddata.xsd"
		namespace="http://ge.com/predix/entity/fielddata">
	</import>
	<import
		schemaLocation="../osa/errordataevent/errordataevent.xsd"
		namespace="http://ge.com/predix/entity/osa/errordataevent">
	</import>
	<import schemaLocation="../fielddatacriteria/fielddatacriteria.xsd"
		namespace="http://ge.com/predix/entity/fielddatacriteria">
	</import>

	<import
		schemaLocation="../util/map/map.xsd"
		namespace="http://ge.com/predix/entity/util/map" />

	<import
		schemaLocation="../context/context.xsd"
		namespace="http://ge.com/predix/entity/context">
	</import>

	<import></import>
	<import schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/predix/entity/port/port.xsd" namespace="http://ge.com/predix/entity/analytic/port"></import>
	<element name="runAnalyticRequest">
		<complexType>
			<sequence>
				<element name="correlationId" type="string"
					minOccurs="0">
					<annotation>
						<documentation>
							execution context id.
						</documentation>
					</annotation>
				</element>

				<element name="inputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="outputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
				<element minOccurs="0" ref="map:externalAttributeMap" />

			</sequence>
		</complexType>
	</element>

	<element name="runAnalyticResult">
		<complexType>
			<sequence>

                <element name="outputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
                <element name="errorEvent" type="string"
					minOccurs="0" maxOccurs="unbounded">
				</element>
				<element minOccurs="0" ref="map:externalAttributeMap" />

			</sequence>
		</complexType>
	</element>
</schema>

