ext-model/src/main/resources/META-INF/schemas/predix/entity/eventasset/eventasset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://ge.com/predix/entity/eventAsset"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:eventAsset="http://ge.com/predix/entity/eventAsset"
	xmlns:eventField="http://ge.com/predix/entity/eventfield">
	
	<import schemaLocation="eventfield.xsd" namespace="http://ge.com/predix/entity/eventfield">
	</import>
	
	<complexType name="Asset">
		<sequence>
			<element name="uri" minOccurs="1" maxOccurs="1" />
			<element name="assetType" type="string" minOccurs="0"
				maxOccurs="1"/>
			<element ref="eventField:fieldList" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AssetList">
		<sequence>
			<element ref="eventAsset:asset" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	
	<element name="asset" type="eventAsset:Asset"></element>
	<element name="assetList" type="eventAsset:AssetList" />
</schema>