ext-model/src/main/resources/META-INF/schemas/predix/entity/vo/unitcode/unitcodevo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema
        version="1.0"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://ge.com/predix/entity/vo/unitcode"
        xmlns:map="http://ge.com/predix/entity/vo/unitcode"
        >

    <import
            schemaLocation="../../util/map/map.xsd"
            namespace="http://ge.com/predix/entity/util/map">
    </import>

    <complexType name="UnitCodeVO">
        <annotation>
            <documentation>This object contains the unitCode information that is needed by the analytic core runtime
                components for unit conversion. The
                contents lifecycle is documented in the detailed design -> core runtime platform page in the project
                wiki.
            </documentation>
        </annotation>
        <sequence>
            <element name="unitCodeId" minOccurs="1" maxOccurs="1" type="int"></element>
            <element name="standardType" minOccurs="1" maxOccurs="1" type="string"></element>
            <element name="typeId" minOccurs="1" maxOccurs="1" type="int"></element>
            <element name="unitLookup" minOccurs="1" maxOccurs="1" type="string"></element>
            <element name="unitType" minOccurs="0" maxOccurs="1" type="string"></element>
            <element name="unitId" minOccurs="0" maxOccurs="1" type="int"></element>
            <element name="unitName" minOccurs="0" maxOccurs="1" type="string"></element>
            <element name="unitDescription" minOccurs="0" maxOccurs="1" type="string"></element>
            <element name="convertScaleM" minOccurs="1" maxOccurs="1" type="float"></element>
            <element name="convertOffestB" minOccurs="1" maxOccurs="1" type="float"></element>
        </sequence>
    </complexType>
    <element name="unitCodeVO" type="map:UnitCodeVO" />

    <complexType name="UnitCodesVO">
        <sequence>
            <element ref="map:unitCodeVO" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <element name="unitCodeVOMap" type="map:UnitCodesVO"/>
</schema>

