ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/strategydetail/strategydetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://dsp.ge.com/pm/ext/entity/strategydetail"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:strategyDetail="http://dsp.ge.com/pm/ext/entity/strategydetail"
	xmlns:sourceInfo="http://dsp.ge.com/pm/ext/entity/sourceinfo"
	xmlns:Q1="http://dsp.ge.com/pm/ext/entity/attribute"
	xmlns:action="http://dsp.ge.com/pm/ext/entity/action"
	xmlns:map="http://dsp.ge.com/pm/ext/entity/util/map" xmlns:strategyDetailIdentifier="http://dsp.ge.com/pm/ext/entity/strategydetail/identifier/strategydetailidentifier">

	<import schemaLocation="../sourceinfo/sourceinfo.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/sourceinfo">
	</import>
	<import schemaLocation="../action/action.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/action">
	</import>
	<import schemaLocation="../util/map/map.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/util/map">
	</import>
	<import schemaLocation="identifier/strategydetailidentifier.xsd" namespace="http://dsp.ge.com/pm/ext/entity/strategydetail/identifier/strategydetailidentifier"></import>
	<complexType name="StrategyDetail">
		<annotation>
			<documentation>
				StrategyDetail is the behavior that is driven within a
				Strategy
			</documentation>
		</annotation>
		<sequence>
            <element name="strategyDetailIdentifier" type="strategyDetailIdentifier:StrategyDetailIdentifier" minOccurs="0" maxOccurs="1">
			</element>
            <element name="sequence" type="int" minOccurs="0"></element>
			<element ref="sourceInfo:sourceInfo" minOccurs="0"></element>
			<element ref="action:action" minOccurs="0"></element>
			<element name="defaultOutboundDataType" type="string"
				minOccurs="0">
			</element>
			<element ref="map:map" minOccurs="0"></element>
		</sequence>
	</complexType>

	<element name="strategyDetail"
		type="strategyDetail:StrategyDetail">
	</element>


</schema>