ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/selectionfilter/selectionfilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://dsp.ge.com/pm/ext/entity/selectionfilter"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:selectionFilter="http://dsp.ge.com/pm/ext/entity/selectionfilter"
	xmlns:fieldidentifier="http://dsp.ge.com/pm/ext/entity/field/fieldidentifier"
	xmlns:field="http://dsp.ge.com/pm/ext/entity/field" xmlns:osa="http://www.mimosa.org/OSACBMV3.3.1"
	xmlns:fieldIdentifierValue="http://dsp.ge.com/pm/ext/entity/fieldidentifiervalue"
	xmlns:fieldValue="http://dsp.ge.com/pm/ext/entity/fieldvalue"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:annox="http://annox.dev.java.net"
	xmlns:ja="http://annox.dev.java.net/org.codehaus.jackson.annotate"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:extensionBindingPrefixes="xjc annox" jaxb:version="2.0">

	<import schemaLocation="../field/identifier/fieldidentifier.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/field/fieldidentifier">
	</import>

	<import schemaLocation="../field/field.xsd" namespace="http://dsp.ge.com/pm/ext/entity/field">
	</import>
	<import schemaLocation="../fieldIdentifierValue/fieldidentifiervalue.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/fieldidentifiervalue">
	</import>

	<import schemaLocation="../../../../osa/schema1.xsd" namespace="http://www.mimosa.org/OSACBMV3.3.1">
	</import>
	<import schemaLocation="../fieldValue/fieldvalue.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/fieldvalue">
	</import>

	<complexType name="SelectionFilter">
		<annotation>
			<appinfo>
				<annox:annotate>
					<!-- <ja:JsonTypeInfo use="CLASS" include="PROPERTY" property="@class"/> -->
					<ja:JsonTypeInfo use="NAME" include="PROPERTY"
						property="@type" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence />
	</complexType>
	<element name="selectionFilter" type="selectionFilter:SelectionFilter">
	</element>

	<complexType name="FieldSelectionFilter">
		<complexContent>
			<extension base="selectionFilter:SelectionFilter">
				<sequence>
					<element ref="fieldIdentifierValue:fieldIdentifierValue"
						minOccurs="0" maxOccurs="unbounded">
					</element>
					<element name="operator" type="selectionFilter:OperatorEnum"
						minOccurs="0" maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="AnchorTimeType">
		<restriction base="string">
			<enumeration value="ABSOLUTE" />
			<enumeration value="DISPATCHER" />
			<enumeration value="NOW" />
			<enumeration value="FIELD" />
		</restriction>
	</simpleType>
	<simpleType name="SampleMode">
		<restriction base="string">
			<enumeration value="AVERAGE" />
			<enumeration value="MAXIMUM" />
			<enumeration value="MINIMUM" />
			<enumeration value="LAST" />
			<enumeration value="FIRST" />
			<enumeration value="STDEV" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>

	<simpleType name="SelectionFilterType">
		<restriction base="string">
			<enumeration value="TimeSelectionFilter" />
			<enumeration value="RowSelectionFilter" />
		</restriction>
	</simpleType>

	<simpleType name="TimeOffsetUnits">
		<restriction base="string">
			<enumeration value="NANOSECONDS" />
			<enumeration value="MILLISECONDS" />
			<enumeration value="MICROSECONDS" />
			<enumeration value="SECONDS" />
			<enumeration value="MINUTES" />
			<enumeration value="HOURS" />
			<enumeration value="DAYS" />
			<enumeration value="WEEKS" />
			<enumeration value="YEARS" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>

	<simpleType name="IntervalUnits">
		<restriction base="string">
			<enumeration value="NANOSECONDS" />
			<enumeration value="MILLISECONDS" />
			<enumeration value="MICROSECONDS" />
			<enumeration value="SECONDS" />
			<enumeration value="MINUTES" />
			<enumeration value="HOURS" />
			<enumeration value="DAYS" />
			<enumeration value="WEEKS" />
			<enumeration value="YEARS" />
			<enumeration value="DATAPOINTS" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>



	<simpleType name="OperatorEnum">
		<restriction base="string">
			<enumeration value="AND" />
			<enumeration value="OR" />
			<enumeration value="EQUALS" />
			<enumeration value="BETWEEN" />
		</restriction>
	</simpleType>

	<complexType name="OsaSelectionFilter">
		<complexContent>
			<extension base="selectionFilter:SelectionFilter">
				<sequence>
					<element ref="osa:SelectionFilter"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FieldTypeSelectionFilter">
		<complexContent>
			<extension base="selectionFilter:SelectionFilter">
				<sequence>
					<element ref="field:fieldType" minOccurs="0" maxOccurs="unbounded">
					</element>
					<element ref="field:searchType"></element>
					<element ref="fieldValue:fieldValue" minOccurs="0"
						maxOccurs="unbounded">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="NestedSelectionFilter">
		<complexContent>
			<extension base="selectionFilter:SelectionFilter">
				<sequence>
					<element name="fieldIdentifierValue" type="fieldIdentifierValue:FieldIdentifierObject"
						minOccurs="0" maxOccurs="unbounded">
					</element>
					<element name="operator" type="selectionFilter:OperatorEnum">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

    <complexType name="FieldIdentifierNestedValue"></complexType>

</schema>