ext-model/src/main/resources/META-INF/schemas/predix/entity/util/map/map.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ge.com/predix/entity/util/map"
	xmlns:map="http://ge.com/predix/entity/util/map"
	xmlns:javamap="http://util.java"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1"
	xmlns:annox="http://annox.dev.java.net"
	xmlns:ja="http://annox.dev.java.net/com.fasterxml.jackson.annotation"
	xmlns:jad="http://annox.dev.java.net/com.fasterxml.jackson.databind.annotation"
	xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	jaxb:extensionBindingPrefixes="inheritance xjc annox" xmlns:fieldData="http://ge.com/predix/entity/fielddata">


	<import schemaLocation="../../fielddata/fielddata.xsd" namespace="http://ge.com/predix/entity/fielddata"></import>
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.ge.predix.entity.util.map" />
			</jaxb:schemaBindings>
			<inheritance:objectFactory
				packageName="com.ge.predix.entity.util.map">
				<inheritance:implements>
					java.lang.Cloneable
				</inheritance:implements>
			</inheritance:objectFactory>
		</appinfo>
	</annotation>

	<complexType name="Entry">
		<sequence>
			<element name="key" type="anySimpleType"></element>
			<element name="value" type="anySimpleType"></element>
		</sequence>
	</complexType>
	<element name="entry" type="map:Entry" />

	<complexType name="AttributeMap">
		<annotation>
			<documentation>
				Provides key-value pairs like a Map but is compatible
				with XML and JSONSchema standards. It's not as terse as
				a Map when unmarshaled
			</documentation>
		</annotation>
		<sequence>
			<element ref="map:entry" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="attributeMap" type="map:AttributeMap" />
	<element name="externalAttributeMap" type="map:AttributeMap" />

	<complexType name="Map">
		<annotation>
			<appinfo>
				<inheritance:extends>
					java.util.LinkedHashMap
				</inheritance:extends>
			</appinfo>
		</annotation>
	</complexType>
	<element name="map" type="map:Map" />

	<complexType name="DataMap">
		<complexContent>
			<extension base="fieldData:Data">
				<sequence>
					<element ref="map:map" minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="dataMap" type="map:DataMap" />

</schema>

