ext-interface/src/main/resources/META-INF/schemas/pm/entity/getfielddata/getfielddata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dsp.ge.com/pm/fielddatahandler/entity/getfielddata"
	xmlns:fieldDataCriteria="http://dsp.ge.com/pm/fielddatahandler/entity/fielddatacriteria"
	xmlns:fieldData="http://dsp.ge.com/pm/ext/entity/fielddata"
	xmlns:context="http://dsp.ge.com/pm/ext/entity/context"
	xmlns:errorDataEvent="http://dsp.ge.com/pm/ext/entity/osa/errordataevent"
	xmlns:map="http://dsp.ge.com/pm/ext/entity/util/map" xmlns:solutionIdentifier="http://dsp.ge.com/pm/ext/entity/solution/identifier/solutionidentifier">

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/fielddata/fielddata.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/fielddata">
	</import>
	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/osa/errordataevent/errordataevent.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/osa/errordataevent">
	</import>
	<import schemaLocation="../fielddatacriteria/fielddatacriteria.xsd"
		namespace="http://dsp.ge.com/pm/fielddatahandler/entity/fielddatacriteria">
	</import>

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/util/map/map.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/util/map" />

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/context/context.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/context">
	</import>

	<import schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/solution/identifier/solutionidentifier.xsd" namespace="http://dsp.ge.com/pm/ext/entity/solution/identifier/solutionidentifier"></import>
	<element name="getFieldDataRequest">
		<complexType>
			<sequence>
                <element ref="solutionIdentifier:solutionIdentifier" minOccurs="0" maxOccurs="1"></element>
                <element name="correlationId" type="string"
					minOccurs="0">
					<annotation>
						<documentation>
							execution context id.
						</documentation>
					</annotation>
				</element>
				<element ref="fieldDataCriteria:fieldDataCriteria"
					minOccurs="1" maxOccurs="unbounded">
				</element>
				<element minOccurs="0" ref="map:externalAttributeMap" />
			</sequence>
		</complexType>
	</element>

	<element name="getFieldDataResult">
		<complexType>
			<sequence>

				<element ref="fieldData:fieldData" minOccurs="0"
					maxOccurs="unbounded" />
				<element name="errorEvent" type="string"
					minOccurs="0" maxOccurs="unbounded">
				</element>
				<element minOccurs="0" ref="map:externalAttributeMap" />

			</sequence>
		</complexType>
	</element>
</schema>

