ext-interface/src/main/resources/META-INF/schemas/pm/entity/runanalytic/runanalytic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dsp.ge.com/pm/analytic/entity/runanalytic"
	xmlns:fieldDataCriteria="http://dsp.ge.com/pm/fielddatahandler/entity/fielddatacriteria"
	xmlns:fieldData="http://dsp.ge.com/pm/ext/entity/fielddata"
	xmlns:context="http://dsp.ge.com/pm/ext/entity/context"
	xmlns:errorDataEvent="http://dsp.ge.com/pm/ext/entity/osa/errordataevent"
	xmlns:map="http://dsp.ge.com/pm/ext/entity/util/map"
	xmlns:solutionIdentifier="http://dsp.ge.com/pm/ext/entity/solution/identifier/solutionidentifier"
	xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1" xmlns:port="http://dsp.ge.com/pm/ext/entity/analytic/port">

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/fielddata/fielddata.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/fielddata">
	</import>
	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/osa/errordataevent/errordataevent.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/osa/errordataevent">
	</import>
	<import schemaLocation="../fielddatacriteria/fielddatacriteria.xsd"
		namespace="http://dsp.ge.com/pm/fielddatahandler/entity/fielddatacriteria">
	</import>

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/util/map/map.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/util/map" />

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/context/context.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/context">
	</import>

	<import
		schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/solution/identifier/solutionidentifier.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/solution/identifier/solutionidentifier">
	</import>
	<import></import>
	<import schemaLocation="../../../../../../../../../ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/port/port.xsd" namespace="http://dsp.ge.com/pm/ext/entity/analytic/port"></import>
	<element name="runAnalyticRequest">
		<complexType>
			<sequence>
				<element ref="solutionIdentifier:solutionIdentifier"
					minOccurs="0" maxOccurs="1">
				</element>
				<element name="correlationId" type="string"
					minOccurs="0">
					<annotation>
						<documentation>
							execution context id.
						</documentation>
					</annotation>
				</element>

				<element name="inputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="outputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
				<element minOccurs="0" ref="map:externalAttributeMap" />

			</sequence>
		</complexType>
	</element>

	<element name="runAnalyticResult">
		<complexType>
			<sequence>

                <element name="outputPort" type="port:Port" minOccurs="0" maxOccurs="unbounded"></element>
                <element name="errorEvent" type="string"
					minOccurs="0" maxOccurs="unbounded">
				</element>
				<element minOccurs="0" ref="map:externalAttributeMap" />

			</sequence>
		</complexType>
	</element>
</schema>

