ext-model/src/main/resources/META-INF/schemas/predix/entity/osa/filter/filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://ge.com/predix/entity/osa/filter"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:filter="http://ge.com/predix/entity/osa/filter"
	xmlns:fieldidentifier="http://ge.com/predix/entity/field/fieldidentifier"
	xmlns:field="http://ge.com/predix/entity/field" xmlns:osa="http://www.mimosa.org/OSACBMV3.3.1"
	xmlns:fieldIdentifierValue="http://ge.com/predix/entity/fieldidentifiervalue">


	<import schemaLocation="../../field/identifier/fieldidentifier.xsd"
		namespace="http://ge.com/predix/entity/field/fieldidentifier">
	</import>

	<import schemaLocation="../../field/field.xsd" namespace="http://ge.com/predix/entity/field">
	</import>
	<import schemaLocation="../../fieldIdentifierValue/fieldidentifiervalue.xsd"
		namespace="http://ge.com/predix/entity/fieldidentifiervalue">
	</import>


	<import schemaLocation="../../../../osa/schema1.xsd" namespace="http://www.mimosa.org/OSACBMV3.3.1"></import>

	<simpleType name="SampleMode">
		<restriction base="string">
			<enumeration value="AVERAGE" />
			<enumeration value="MAXIMUM" />
			<enumeration value="MINIMUM" />
			<enumeration value="LAST" />
			<enumeration value="FIRST" />
			<enumeration value="STDEV" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>

	<simpleType name="TimeOffsetUnits">
		<restriction base="string">
			<enumeration value="NANOSECONDS" />
			<enumeration value="MILLISECONDS" />
			<enumeration value="MICROSECONDS" />
			<enumeration value="SECONDS" />
			<enumeration value="MINUTES" />
			<enumeration value="HOURS" />
			<enumeration value="DAYS" />
			<enumeration value="WEEKS" />
			<enumeration value="YEARS" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>

	<simpleType name="IntervalUnits">
		<restriction base="string">
			<enumeration value="NANOSECONDS" />
			<enumeration value="MILLISECONDS" />
			<enumeration value="MICROSECONDS" />
			<enumeration value="SECONDS" />
			<enumeration value="MINUTES" />
			<enumeration value="HOURS" />
			<enumeration value="DAYS" />
			<enumeration value="WEEKS" />
			<enumeration value="YEARS" />
			<enumeration value="DATAPOINTS" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>


	<complexType name="RowFilter">
		<sequence>
			<element name="row" type="integer" minOccurs="1"></element>
		</sequence>
	</complexType>


	<simpleType name="OperatorEnum">
		<restriction base="string">
			<enumeration value="AND" />
			<enumeration value="OR" />
			<enumeration value="EQUALS" />
		</restriction>
	</simpleType>
</schema>