ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/field/field.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://dsp.ge.com/pm/ext/entity/field"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:field="http://dsp.ge.com/pm/ext/entity/field"
	xmlns:attributeDef="http://dsp.ge.com/pm/ext/entity/attributedef"
	xmlns:fieldIdentifier="http://dsp.ge.com/pm/ext/entity/field/fieldidentifier"
	>


	<import schemaLocation="../attributedef/attributedef.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/attributedef">
	</import>
	<import schemaLocation="identifier/fieldidentifier.xsd"
		namespace="http://dsp.ge.com/pm/ext/entity/field/fieldidentifier">
	</import>
	<complexType name="Field">
		<sequence>
			<element ref="fieldIdentifier:fieldIdentifier"
				minOccurs="1">
			</element>
			<element ref="field:fieldType" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="field:parents" minOccurs="0" maxOccurs="unbounded"></element>
			<element ref="attributeDef:attributeDef" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>
	<element name="field" type="field:Field"></element>

	<complexType name="FieldList">
		<sequence>
			<element ref="field:field" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="fieldList" type="field:FieldList" />
	<element name="parents" type="field:Field" />


	<complexType name="FieldType">
		<sequence>
			<element name="fieldTypeEnum" type="field:FieldTypeEnum"
				minOccurs="1">
			</element>
			<element name="otherValue" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>
	<element name="fieldType" type="field:FieldType"></element>

	<complexType name="FieldTypeList">
		<sequence>
			<element ref="field:fieldType" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="fieldTypeList" type="field:FieldTypeList" />

	<simpleType name="FieldTypeEnum">
		<restriction base="string">
			<enumeration value="ASSETGROUPINGFIELD" />
			<enumeration value="GENERALFIELD" />
			<enumeration value="TEMPORARYFIELD" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>

	<complexType name="SearchType">
		<sequence>
			<element name="searchTypeEnum"
				type="field:SearchTypeEnum" minOccurs="1">
			</element>
			<element name="otherValue" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>
	<element name="searchType" type="field:SearchType"></element>

	<simpleType name="SearchTypeEnum">
		<restriction base="string">
			<enumeration value="FIELDINFO" />
			<enumeration value="INNERFIELDS" />
			<enumeration value="OTHER" />
		</restriction>
	</simpleType>
</schema>