ext-model/src/main/resources/META-INF/schemas/predix/entity/fielddatacriteria/fielddatacriteria.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ge.com/predix/entity/fielddatacriteria"
	xmlns:fieldDataCriteria="http://ge.com/predix/entity/fielddatacriteria"
	xmlns:fieldSelection="http://ge.com/predix/entity/fieldselection"
	xmlns:map="http://ge.com/predix/entity/util/map"
	xmlns:context="http://ge.com/predix/entity/context"
	xmlns:filter="http://ge.com/predix/entity/filter"
	xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1"
	xmlns:fieldIdentifier="http://ge.com/predix/entity/field/fieldidentifier" xmlns:namespace="http://ge.com/predix/entity/field/namespace">

	<import schemaLocation="../fieldselection/fieldselection.xsd"
		namespace="http://ge.com/predix/entity/fieldselection">
	</import>

	<import schemaLocation="../filter/filter.xsd"
		namespace="http://ge.com/predix/entity/filter">
	</import>

	<import schemaLocation="../namespace/namespace.xsd" namespace="http://ge.com/predix/entity/field/namespace"></import>
	<complexType name="FieldDataCriteria">
		<annotation>
			<documentation>
				the criteria for requesting one field from the asset
				data handler
			</documentation>
		</annotation>
		<sequence>
			<element name="namespaces" type="namespace:Namespace"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element ref="fieldSelection:fieldSelection" minOccurs="0"
				maxOccurs="unbounded">
			</element>
			<element ref="filter:filter" minOccurs="0" maxOccurs="1">
			</element>
			<element minOccurs="0" name="resultId" type="string">
				<annotation></annotation>
			</element>

		</sequence>
	</complexType>
	<element name="fieldDataCriteria"
		type="fieldDataCriteria:FieldDataCriteria">
	</element>

	<complexType name="FieldDataCriteriaList">
		<sequence>
			<element ref="fieldDataCriteria:fieldDataCriteria"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="fieldDataCriteriaList"
		type="fieldDataCriteria:FieldDataCriteriaList" />

</schema>

