ext-model/src/main/resources/META-INF/schemas/predix/entity/asset/assetfilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://predix.ge.com/entity/assetfilter"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:assetFilter="http://predix.ge.com/entity/assetfilter"
	xmlns:filter="http://ge.com/predix/entity/filter" xmlns:fieldSelection="http://ge.com/predix/entity/fieldselection" xmlns:Q1="http://www.mimosa.org/OSACBMV3.3.1">


	<import schemaLocation="../filter/filter.xsd"
		namespace="http://ge.com/predix/entity/filter">
	</import>

	<import schemaLocation="../fieldselection/fieldselection.xsd" namespace="http://ge.com/predix/entity/fieldselection"></import>
	<complexType name="AssetFilter">
		<complexContent>
			<extension base="filter:Filter">
				<sequence>
					<element ref="fieldSelection:fieldSelection" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>optional for when included as an embedded filter.  Normally you would use a FieldDataCriteria.fieldSelection.</documentation>
						</annotation></element>
					<element name="uri" type="string"></element>
					<element name="filterString" type="string"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="assetFilter" type="assetFilter:AssetFilter">
	</element>


</schema>