ext-model/src/main/resources/META-INF/schemas/predix/entity/model/model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ge.com/predix/entity/model"
	xmlns:model="http://ge.com/predix/entity/model" xmlns:field="http://ge.com/predix/entity/field"
	xmlns:strategy="http://ge.com/predix/entity/strategy" xmlns:sourceInfo="http://ge.com/predix/entity/sourceinfo"
	xmlns:appIdentifier="http://ge.com/predix/entity/app/appidentifier"
	xmlns:tenantIdentifier="http://ge.com/predix/entity/tenant/tenantidentifier"
	xmlns:map="http://ge.com/predix/entity/util/map" xmlns:engUnit="http://ge.com/predix/entity/engunit"
	xmlns:fieldData="http://ge.com/predix/entity/fielddata"
	xmlns:attribute="http://ge.com/predix/entity/attribute" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:annox="http://annox.dev.java.net" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:ja="http://annox.dev.java.net/com.fasterxml.jackson.annotation"
	xmlns:jad="http://annox.dev.java.net/com.fasterxml.jackson.databind.annotation"
	jaxb:extensionBindingPrefixes="xjc annox" jaxb:version="2.0">

	<import schemaLocation="../fielddata/fielddata.xsd" namespace="http://ge.com/predix/entity/fielddata">
	</import>
	<import schemaLocation="../attribute/attribute.xsd" namespace="http://ge.com/predix/entity/attribute">
	</import>
	<import schemaLocation="../util/map/map.xsd" namespace="http://ge.com/predix/entity/util/map"></import>
	<complexType name="Model">
		<complexContent>
			<extension base="fieldData:Data">
				<sequence>
					<element name="uri" type="string"></element>
					<element name="name" type="string"></element>
					<element name="classificationUri" type="string"></element>
					<element name="additionalAttributes" type="map:Map">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="model" type="model:Model"></element>

	<complexType name="ModelList">
		<complexContent>
			<extension base="fieldData:Data">
				<sequence>
					<element ref="model:model" minOccurs="0" maxOccurs="unbounded">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="modelList" type="model:ModelList" />

	<complexType name="Typed">
		<annotation>
			<appinfo>
				<annox:annotate>
					<!-- <ja:JsonTypeInfo use="CLASS" include="PROPERTY" property="@class"/> -->
					<ja:JsonTypeInfo use="NAME" include="PROPERTY"
						property="complexType" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
		</sequence>
	</complexType>
	<element name="typed" type="model:Typed"></element>

	<complexType name="TypedModel">
		<complexContent>
			<annotation>
				<appinfo>
					<annox:annotate>
						<!-- <ja:JsonTypeInfo use="CLASS" include="PROPERTY" property="@class"/> -->
						<ja:JsonTypeInfo use="NAME" include="PROPERTY"
							property="complexType" />
					</annox:annotate>
				</appinfo>
			</annotation>
			<extension base="model:Model">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="typedModel" type="model:TypedModel"></element>

	<complexType name="SampleEngine">
		<complexContent>
			<extension base="model:Model">
				<sequence>
					<element name="averageSpeed" type="string"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="sampleEngine" type="model:SampleEngine"></element>

	<complexType name="Entry">
		<sequence>
			<element name="key" type="string"></element>
			<element name="value" type="string"></element>
		</sequence>
	</complexType>
</schema>

