ext-model/src/main/resources/META-INF/schemas/pm/ext/entity/strategydetail/identifier/strategydetailidentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://dsp.ge.com/pm/ext/entity/strategydetail/identifier/strategydetailidentifier"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:strategyDetailIdentifier="http://dsp.ge.com/pm/ext/entity/strategydetail/identifier/strategydetailidentifier"
	xmlns:identifier="http://dsp.ge.com/aaas/entity/identifier">

	<import schemaLocation="../../../../../aaas/entity/identifier/identifier.xsd" 
		namespace="http://dsp.ge.com/aaas/entity/identifier">
	</import>
	<complexType name="StrategyDetailIdentifier">
		<complexContent>
			<extension base="identifier:Identifier"></extension>
		</complexContent>
	</complexType>
	<element name="strategydetailIdentifier"
		type="strategyDetailIdentifier:StrategyDetailIdentifier">
	</element>

	<complexType name="StrategyDetailIdentifierList">
		<sequence>

			<element name="strategyDetailIdentifier" type="strategyDetailIdentifier:StrategyDetailIdentifier" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
	<element name="strategydetailIdentifierList"
		type="strategyDetailIdentifier:StrategyDetailIdentifierList" />

</schema>